/*
   COLUMN FILL
*/


.cf-auto    { column-fill: auto; }
.cf-balance { column-fill: balance; }
.cf-i       { column-fill: inherit; }

@media screen and (min-width: 32em) {
  .cf-auto-s    { column-fill: auto; }
  .cf-balance-s { column-fill: balance; }
  .cf-i-s       { column-fill: inherit; }
}

@media screen and (min-width:48em) {
  .cf-auto-m    { column-fill: auto; }
  .cf-balance-m { column-fill: balance; }
  .cf-i-m       { column-fill: inherit; }
}

@media screen and (min-width: 96em) {
  .cf-auto-l    { column-fill: auto; }
  .cf-balance-l { column-fill: balance; }
  .cf-i-l       { column-fill: inherit; }
}

